@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-primary: #2056a1;
    --color-primary-light: #508bdc;
    --color-secondary: #8e1918; /* #A12B20 1B4888 8E1918*/
    --color-secondary-shade: #b3211e;
}

@layer components {
    .bground {
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='60' height='60' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23fafaf9ff'/><path d='M6.13-.002.005 6.125v1.059L6.59 13.77l.013-.014 16.243 16.24L6.617 46.23.535 40.15l10.147-10.153L.004 19.318v1.037l9.644 9.641-9.646 9.65v1.03L12.73 53.402l-6.082 6.082-6.127-6.127.014-.015-.533-.531v1.06l6.127 6.127h1.055l6.586-6.584-.012-.012 16.246-16.246L46.236 53.39l-6.082 6.082-10.15-10.15-10.68 10.677h1.033l9.647-9.644 9.646 9.644h1.034l12.722-12.723 6.082 6.082-6.125 6.125-.013-.011-.528.527h1.057l6.123-6.123V52.81l-6.58-6.58-.016.015L37.16 29.996 53.393 13.77l6.082 6.082-10.15 10.144 10.677 10.678v-1.031l-9.647-9.647 9.647-9.64v-1.038L47.279 6.596 53.361.514l6.13 6.127-.016.013.527.53V6.123L53.879-.002h-1.057l-6.586 6.586.014.012-16.244 16.246L13.77 6.607l6.082-6.08 10.153 10.15L40.684-.001H39.65l-9.646 9.647-9.647-9.647h-1.03L6.601 12.723.52 6.64 6.646.514l.012.013.528-.529H6.13zm7.114 7.113 16.76 16.76 16.762-16.76 6.127 6.127-16.764 16.758 16.764 16.762-6.127 6.127-16.76-16.76-16.762 16.76-6.127-6.127 16.758-16.762L7.117 13.238l6.127-6.127z'  stroke-width='1' stroke='none' fill='%23eff1f3ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    }

    .login-label {
        @apply text-sm font-medium tracking-tight text-stone-700;
    }

    .login-textbox {
        @apply block w-full my-2 p-3 text-sm rounded-md text-stone-700;
        @apply border border-stone-400 bg-white/60 indent-7 placeholder:font-light;
        @apply hover:outline-0 focus:outline-0 hover:border-stone-600 hover:bg-white;
        @apply transition ease-in duration-150;
    }

    .login-textcontainer {
        @apply flex items-center;
    }

    .login-icon {
        @apply absolute ml-2 text-stone-700;
    }

    .profile-title {
        @apply font-bold text-base tracking-tight text-secondary capitalize;
        @apply mt-4 mx-8;
    }

    /* Dashboard link items */
    .db-link-item {
        @apply flex items-center text-stone-500 indent-2 text-sm tracking-tight;
        @apply pl-10 py-3 border-b border-b-stone-200;

        @apply hover:bg-primary/30 hover:text-stone-700;
        @apply transition-all ease-in-out duration-150;
    }

    .link-active {
        @apply  text-primary/80 pointer-events-none select-none bg-stone-200/30;
    }

    .link-logout {
        @apply flex items-center text-stone-100 indent-2 text-sm tracking-tight w-full;
        @apply pl-10 py-3 border-b border-b-stone-200 bg-secondary cursor-pointer;

        @apply hover:bg-primary/30 hover:text-stone-700;
        @apply transition-all ease-in-out duration-150;
    }

    /* Buttons */
    .button-confirm {
        @apply py-2 px-10 rounded-md inline-flex items-center justify-between gap-1 cursor-pointer;
        @apply bg-primary text-white text-sm font-medium;
        @apply hover:bg-secondary-shade active:bg-secondary transition ease-in duration-50;
    }
    
    .profile-subtitle-link {
        @apply text-xs font-medium tracking-tight text-stone-600/80 uppercase;
        @apply hover:underline;
    }

    /* Errors notif */
    .error-notif {
        @apply text-sm tracking-tight font-medium mt-3;
        @apply bg-red-100 w-full py-1 rounded-sm text-red-700;
    }
}
